.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include media(desktop) {
    flex-direction: row;
    align-items: end;
  }
}

.about-subtitle {
  font-size: 56px;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 80px;
  }
}

.about-secondary-subtitle {
  font-size: 40px;

  @include media(desktop) {
    font-size: 48px;
  }
}

.about-text {
  font-family: 'Onest', sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 2;
  color: #e8ecef;

  @include media(desktop) {
  }
}

.about-br {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
