<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <svg class="line-icon about-line-icon" width="88" height="6">
        <use href="./img/sprite.svg#icon-left-line"></use>
      </svg>
      <h2 class="section-title about-title">About the Game</h2>
      <svg class="line-icon about-line-icon" width="88" height="6">
        <use href="./img/sprite.svg#icon-right-line"></use>
      </svg>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <p class="section-subtitle about-subtitle">The world talks to you.</p>
          <p class="section-secondary-subtitle about-secondary-subtitle">
            but not with words
          </p>
        </div>
        <p class="about-text">
          Whispering Meadow removes traditional UI guidance and replaces it with
          environmental feedback.<br />
          Players learn to observe movement, sound, and visual changes to
          progress.<br />
          Each spot you find feels like it's got its own little secret you need
          to crack.
        </p>
      </div>
    </div>
  </div>
</section>
