<section class="section experience-section" id="experience">
  <div class="section-title-wrapper experience-title-wrapper">
    <div class="container section-title-container">
      <svg class="star-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title experience-title">Player Experience</h2>
    </div>
  </div>
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-content-wrapper">
        <div class="experience-text-wrapper">
          <p class="section-subtitle experience-subtitle">
            What it's actually like
          </p>
          <p class="section-secondary-subtitle experience-secondary-subtitle">
            when you're playing
          </p>
        </div>
        <ul class="experience-list">
          <li class="experience-slide">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-experience1"></use>
            </svg>
            <p class="experience-item-text">Calm and meditative</p>
          </li>
          <li class="experience-slide">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-experience2"></use>
            </svg>
            <p class="experience-item-text">Curiosity-driven exploration</p>
          </li>
          <li class="experience-slide">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-experience3"></use>
            </svg>
            <p class="experience-item-text">No pressure or failure states</p>
          </li>
          <li class="experience-slide">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-experience4"></use>
            </svg>
            <p class="experience-item-text">
              Satisfaction from understanding patterns
            </p>
          </li>
          <li class="experience-slide">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-experience5"></use>
            </svg>
            <p class="experience-item-text">A sense of quiet progression</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
