<section class="section faq-section" id="faq">
  <div class="section-title-wrapper faq-title-wrapper">
    <div class="container section-title-container">
      <svg class="star-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title faq-title">FAQ</h2>
    </div>
  </div>
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <p class="section-subtitle faq-subtitle">Quick answers</p>
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is there a storyline?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              The story is implied through the environment.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there instructions?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">No, players learn by exploring.</p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is the game difficult?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              It’s more about observation than difficulty.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play at my own pace?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">Yes, there is no time pressure.</p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is it suitable for relaxing gameplay?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">Yes, it’s designed for calm sessions.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
