<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <svg class="star-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title features-title">Features</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <p class="section-subtitle features-subtitle">Simple controls.</p>
          <p class="section-secondary-subtitle features-secondary-subtitle">
            but the world responds in amazing ways
          </p>
        </div>
        <ul class="features-list">
          <li class="features-slide">
            <svg class="features-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">No UI Guidance</p>
              <p class="features-item-text">
                The world itself teaches the player.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Sound-Based Interaction</p>
              <p class="features-item-text">
                Audio plays a key role in navigation.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-features3"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Dynamic Environment</p>
              <p class="features-item-text">The meadow reacts to movement.</p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-features4"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Relaxed Pace</p>
              <p class="features-item-text">
                No unnecessary pressure or clicking timers.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-features5"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Immersive Atmosphere</p>
              <p class="features-item-text">Focus on mood and presence.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
