<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">Explore</h1>
          <p class="hero-subtitle">Without Directions</p>
          <p class="hero-text">
            Follow the sound.<br class="hero-br" />
            Find the path.<br class="hero-br" />
            The world shows you the way.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
